<h1>Messen</h1>
<div class="spinner" ng-show="ctrl.isLoading"></div>
<div class="table-responsive" ng-show="!ctrl.isLoading">
  <table class="table table-bordered table-striped table-hover table-sm" emit-last-repeater-element>
    <thead>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'id'; ctrl.sortReverse = !ctrl.sortReverse">
          ID
          <span ng-show="ctrl.sortType == 'id' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'id' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'titel'; ctrl.sortReverse = !ctrl.sortReverse">
          Titel
          <span ng-show="ctrl.sortType == 'titel' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'titel' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'slug'; ctrl.sortReverse = !ctrl.sortReverse">
          Slug
          <span ng-show="ctrl.sortType == 'slug' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'slug' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'datum'; ctrl.sortReverse = !ctrl.sortReverse">
          Datum
          <span ng-show="ctrl.sortType == 'datum' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'datum' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'sortierung'; ctrl.sortReverse = !ctrl.sortReverse">
          Sortierung
          <span ng-show="ctrl.sortType == 'sortierung' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'sortierung' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th ng-show="ctrl.sortType == 'sortierung'"></th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="row in ctrl.messen | orderBy:ctrl.sortType:ctrl.sortReverse" emit-last-repeater-element>
        <td>{{row.id}}</td>
        <td>{{row.titel}}</td>
        <td>{{row.slug}}</td>
        <td>{{row.datum}}</td>
        <td>{{row.sortierung}}</td>
        <td ng-show="ctrl.sortType == 'sortierung'">
          <button ng-show="!ctrl.topMesse(row)" type="button" class="btn btn-info" ng-click="ctrl.messeUp(row)" title="Hoch">
            <i class="fa fa-chevron-up"></i>
          </button>
          <button ng-show="!ctrl.bottomMesse(row)" type="button" class="btn btn-info" ng-click="ctrl.messeDown(row)" title="Runter">
            <i class="fa fa-chevron-down"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-info btn-sm" ng-click="ctrl.showMesse(row)" title="Anzeigen">
            <i class="fa fa-search"></i>
          </button>
          <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.editMesse(row)" title="Bearbeiten">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.deleteMesse(row)" title="Löschen">
            <i class="fa fa-trash"></i>
          </button>
          <a ng-href="#!/themen/{{row.slug}}" class="btn btn-info btn-sm" title="Themen">
            <i class="fa fa-chevron-right"></i>
          </a>
          <a ng-href="#!/otone/{{row.slug}}" class="btn btn-info btn-sm" title="O-Töne">
            <i class="fa fa-music"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-primary plusButton" ng-click="ctrl.addMesse()" ng-show="!ctrl.isLoading">
  <i class="fa fa-plus"></i>
</button>