<div class="modal-header">
  <h5 class="modal-title">{{ctrl.messe.titel}}</h5>
  <button type="button" class="close" aria-label="Schließen" ng-click="ctrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-borderless table-striped table-hover table-sm">
    <tr>
      <th>ID</th>
      <td>{{ctrl.messe.id}}</td>
    </tr>
    <tr>
      <th>Titel</th>
      <td>{{ctrl.messe.titel}}</td>
    </tr>
    <tr>
      <th>Slug</th>
      <td>{{ctrl.messe.slug}}</td>
    </tr>
    <tr>
      <th>Text</th>
      <td>{{ctrl.messe.text}}</td>
    </tr>
    <tr>
      <th>Bild</th>
      <td>
        <img ng-src="http://hfservice.webdad.eu/uploads/{{ctrl.messe.bild}}" />
      </td>
    </tr>
    <tr>
      <th>Link</th>
      <td>
        <a ng-href="{{ctrl.messe.link}}" target="_blank">
          {{ctrl.messe.link}}
        </a>
      </td>
    </tr>
    <tr>
      <th>Datum</th>
      <td>{{ctrl.messe.datum}}</td>
    </tr>
    <tr>
      <th>Enddatum</th>
      <td>{{ctrl.messe.enddatum}}</td>
    </tr>
    <tr>
      <th>Sortierung</th>
      <td>{{ctrl.messe.sortierung}}</td>
    </tr>
    <tr>
      <th>Themenservice</th>
      <td>
        <a ng-href="http://hfservice.webdad.eu/uploads/{{ctrl.messe.themenservice}}" target="_blank">
          {{ctrl.messe.themenservice}}
        </a>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.close()">Schließen</button>
</div>