<h1>O-TÖne</h1>
<p class="well">Hier können die O-Töne verwaltet werden.</p>
<div class="spinner" ng-show="ctrl.isLoading"></div>
<!-- TODO: Dropdown Filter Messe -->
<!-- TODO: Dropdown Filter Thema (If Filter messe) -->
<table class="table table-bordered table-striped" ng-show="!ctrl.isLoading">
  <thead>
<!-- TODO: Spaltenheader -->
  </thead>
  <tbody>
      <tr ng-repeat="row in ctrl.otone"  emit-last-repeater-element>
        <!-- TODO: Data + Button EDIT (Modal)-->
      </tr>
  </tbody>
</table>
<!-- TODO: Button New-->