<h1>Messen</h1>
<div class="spinner" ng-show="ctrl.isLoading"></div>
<select ng-model="ctrl.sortFilter" ng-show="!ctrl.isLoading">
  <option value="">--- Auswahl ---</option>
  <option ng-repeat="option in ctrl.messen" value="{{option.slug}}">{{option.slug}}</option>
</select>
<div class="table-responsive" ng-show="!ctrl.isLoading">
  <table class="table table-bordered table-striped table-hover table-sm">
    <thead>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'id'; ctrl.sortReverse = !ctrl.sortReverse">
          ID
          <span ng-show="ctrl.sortType == 'id' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'id' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'titel'; ctrl.sortReverse = !ctrl.sortReverse">
          Titel
          <span ng-show="ctrl.sortType == 'titel' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'titel' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'messe'; ctrl.sortReverse = !ctrl.sortReverse">
          Messe
          <span ng-show="ctrl.sortType == 'messe' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'messe' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="btn btn-link" ng-click="ctrl.sortType = 'sortierung'; ctrl.sortReverse = !ctrl.sortReverse">
          Sortierung
          <span ng-show="ctrl.sortType == 'sortierung' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortType == 'sortierung' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="row in ctrl.themen | orderBy:ctrl.sortType:ctrl.sortReverse | filter:{messe:ctrl.sortFilter}" emit-last-repeater-element>
        <td>{{row.id}}</td>
        <td>{{row.titel}}</td>
        <td>{{row.messe}}</td>
        <td>{{row.sortierung}}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm" ng-click="ctrl.showThema(row)" title="Anzeigen">
            <i class="fa fa-search"></i>
          </button>
          <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.editThema(row)" title="Bearbeiten">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.deleteThema(row)" title="Löschen">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-primary plusButton" ng-click="ctrl.addThema()" ng-show="!ctrl.isLoading">
  <i class="fa fa-plus"></i>
  Neues Thema
</button>