/* navbar brand */

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {
  padding: 7px 14px;
}

/* row grid error */

.row.row-grid [class*="col-"] {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .form-control {
    display: block !important;
  }
}

/* Footer */

footer {
  background-color: #212121 !important;
  color: #f0f0f0 !important;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 20px;
  bottom: 0px;
  position: fixed;
}

/* Footer mobile */

@media (max-width: 767px) {
  footer {
    position: inherit;
  }
  body {
    padding-bottom: 0;
  }
}


@media (min-width: 1200px) {
  body {
    padding-bottom: 70px;
  }
}


.input-group-prepend {
  width : 10%; /*adjust as needed*/
}

.input-group-prepend label {
  width: 100%;
  overflow: hidden;
}

/* plus Button */

.plusButton {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

/* nicer backdrop */
.modal-backdrop {
  opacity: 0.5;
}

/* wider modals */
@media (min-width: 992px) {
  .modal-lg {
    max-width: 1400px;
  }
}